body {
    background-color:#2D0320;
    color: #E8B4BC;
}
h1 {
    font-size: 3em;
}
h2 {
    font-size: 2em;
}
div#startts {
    font-size:2em;
}
div#tcl {
    font-size:2em;
}

div.price {
    float: left;
    font-size: 2em;
}

div.call-len {
    font-size: 3em;

}
div.est-prices {
    font-size: 2em;
    color: #E3E7D3;
    background-color: #645E9D;
    padding: 15px 10px 15px 10px;n
}

div.rate {
    background-color: #645E9D;
    width: 300px;
    padding: 8px;
}

div.est {
    align-content: center;
    background-color: #645E9D;
    color: #E3E7D3;
    font-size: 2em;
    padding: 5px 10px 15px 10px;
}

.blueish {
    background-color: #012A36;
    color: #E3E7D3;
}
.dark {
    background-color: #645e9d;
    color: #E3E7D3;
}

div.price {
    float: right;
}
li {
    padding-top:10px;
    padding-bottom:10px;
}